In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df_prop_2016 = pd.read_csv("../data/01/properties_2016.csv")
df_prop_2017 = pd.read_csv("../data/01/properties_2017.csv")
df_train_2016 = pd.read_csv("../data/01/train_2016_v2.csv")
df_train_2017 = pd.read_csv("../data/01/train_2017.csv")

C:\Users\Mist\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (22,32,34,49,55) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
C:\Users\Mist\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (49) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df_2016 = df_train_2016.merge(df_prop_2016, how='left', on='parcelid')
df_2017 = df_train_2017.merge(df_prop_2017, how='left', on='parcelid')

In [4]:
step = len(df_2016.index) * .7
for x in df_2016.columns :
    if df_2016[x].isna().sum() > step :
        df_2016 = df_2016.drop([x], axis=1)

step = len(df_2017.index) * .7
for x in df_2017.columns :
    if df_2017[x].isna().sum() > step :
        df_2017 = df_2017.drop([x], axis=1)

for c, dtype in zip(df_2016.columns, df_2016.dtypes) :
    if dtype == np.float64 :
        df_2016[c] = df_2016[c].astype(np.float32)

for c, dtype in zip(df_2017.columns, df_2017.dtypes) :
    if dtype == np.float64 :
        df_2017[c] = df_2017[c].astype(np.float32)


df_2016.dropna(subset=["logerror"])
df_2017.dropna(subset=["logerror"])

,parcelid,logerror,transactiondate,airconditioningtypeid,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,calculatedfinishedsquarefeet,finishedsquarefeet12,...,regionidzip,roomcnt,unitcnt,yearbuilt,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,censustractandblock
0,14297519,0.025595,2017-01-01,NaN,3.5,4.0,NaN,3.5,3100.0,3100.0,...,96978.0,0.0,NaN,1998.0,485713.0,1023282.0,2016.0,537569.0,11013.719727,6.059063e+13
1,17052889,0.055619,2017-01-01,NaN,1.0,2.0,NaN,1.0,1465.0,1465.0,...,97099.0,5.0,NaN,1967.0,88000.0,464000.0,2016.0,376000.0,5672.479980,6.111001e+13
2,14186244,0.005383,2017-01-01,NaN,2.0,3.0,NaN,2.0,1243.0,1243.0,...,97078.0,6.0,NaN,1962.0,85289.0,564778.0,2016.0,479489.0,6488.299805,6.059022e+13
3,12177905,-0.103410,2017-01-01,NaN,3.0,4.0,8.0,3.0,2376.0,2376.0,...,96330.0,0.0,1.0,1970.0,108918.0,145143.0,2016.0,36225.0,1777.510010,6.037300e+13
4,10887214,0.006940,2017-01-01,1.0,3.0,3.0,8.0,3.0,1312.0,1312.0,...,96451.0,0.0,1.0,1964.0,73681.0,119407.0,2016.0,45726.0,1533.890015,6.037123e+13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77608,10833991,-0.002245,2017-09-20,1.0,3.0,3.0,8.0,3.0,1741.0,1741.0,...,96415.0,0.0,1.0,1980.0,265000.0,379000.0,2016.0,114000.0,4685.339844,6.037132e+13
77609,11000655,0.020615,2017-09-20,NaN,2.0,2.0,6.0,2.0,1286.0,1286.0,...,96284.0,0.0,1.0,1940.0,70917.0,354621.0,2016.0,283704.0,4478.430176,6.037101e+13
77610,17239384,0.013209,2017-09-21,NaN,2.0,4.0,NaN,2.0,1612.0,1612.0,...,97116.0,7.0,NaN,1964.0,50683.0,67205.0,2016.0,16522.0,1107.479980,6.111008e+13
77611,12773139,0.037129,2017-09-21,1.0,1.0,3.0,4.0,1.0,1032.0,1032.0,...,96480.0,0.0,1.0,1954.0,32797.0,49546.0,2016.0,16749.0,876.429993,6.037434e+13
77612,12826780,0.007204,2017-09-25,NaN,2.0,3.0,6.0,2.0,1762.0,1762.0,...,96171.0,0.0,1.0,1955.0,140000.0,522000.0,2016.0,382000.0,6317.149902,6.037503e+13

In [7]:
df = pd.concat([df_2016, df_2017])
df.to_csv("../data/02/df_zillow.csv")